{{define "title"}}Create Course{{end}}

{{define "content"}}
<h3>Create Course</h3>
<br>
<a href="/" class="btn btn-default">Menu</a>
<br>
<br>
<br>
<form name="mycourseformular" id="mycourseformular">
  <label for="name">Course Name:</label><br>
  <input type="text" id="name" name="name" value=""><br><br>
  <label for="description">Course Description:</label><br>
  <input type="text" id="description" name="description" value=""><br><br>
  <label for="reg">Course Registration ID:</label><br>
  <input type="text" id="reg" name="reg" value="" required><br><br>
  <input type="submit" value="Create Course" class="btn btn-default">
  <input type="reset" value="Reset" class="btn btn-default">
</form>

<script>
    function convertFormToJSON(form) {
      const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
      const json = {};
      $.each(array, function () {
        if(this.value) {
          json[this.name] = this.value;
          //json[this.name] = this.value || "";
        }
      });
      return json;
    }

    $("#mycourseformular").on("submit", function (e) {
      e.preventDefault();
      const form = $(e.target);
      const json = convertFormToJSON(form);
      console.log(json);
      
      var xhr = new XMLHttpRequest();
      var url = "/rest/api/course/add";
      xhr.open("PUT", url, true);
      xhr.setRequestHeader("Content-Type", "application/json");

      // sanitize numbers for json object instead of strings
      // only age is needed at the moment
      
      // json.age = +json.age

      // transform json obj to text

      var dataText = JSON.stringify(json) 
    
      xhr.send(dataText);
    });
</script>
{{end}}