{{define "title"}}Link Course To A Student{{end}}

{{define "content"}}
<h3>Link Course To A Student</h3>
<br>
<a href="/" class="btn btn-default">Menu</a>
<br>
<br>

<form name="mystudentformular" id="mystudentformular" class="col-md-4">
    <label for="student">Student Name and Registration:</label><br>
    <select name="student" id="student" class="form-control" onchange="checkConnectOnOff();" onfocus="this.selectedIndex = -1;">
      <option value=""></option>
    </select>

    <br><br>

    <label for="course">Course Name and Registration Number:</label><br>
    <select name="course" id="course" class="form-control" onchange="checkConnectOnOff();" onfocus="this.selectedIndex = -1;">
      <option value=""></option>
    </select>

    <br><br>

    <input type="submit" onclick="connectStudentCourse();return false" value="" class="btn btn-default" id="connect">
</form>


<script>
   
    getAllStudentNameReg();
    getAllCourseNameReg();

    initialCheck();

    async function initialCheck() {
        var adress = "";

        var courseId = await initCheckCourse();
        var studentId = await initCheckStudent();

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        if (courseId != "" && studentId != "") {
                const response = await fetch(adress + '/rest/api/studentcourse/check/' + studentId + '/' + courseId);

                const data = await response.json();

                if(data == 'connected') {
                    document.getElementById("connect").value = "Disconnect";
                } else {
                    document.getElementById("connect").value = "Connect";
                }
        }
    }

    async function initCheckCourse() {
        var adress = "";

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        const response = await fetch(adress + '/rest/api/courses');

        const data = await response.json();

        if(data.length == 0) {
            return 0;
        } else {
            return data[0].ID;
        }

    }

    async function initCheckStudent() {
        var adress = "";

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        const response = await fetch(adress + '/rest/api/students');
        // console.log(response);
        const data = await response.json();

        if(data.length == 0) {
            return 0;
        } else {
            return data[0].ID;
        }

    }

    async function connectStudentCourse() {
        connectOnOff();
        await new Promise(r => setTimeout(r, 10));
        checkConnectOnOff();
    }

    async function checkConnectOnOff() {

        var student_current = document.getElementById('student').value;
        var course_current = document.getElementById('course').value;

        console.log(student_current + " : " + course_current);

        var adress = "";

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        if (student_current != "" && course_current != "") {
                const response = await fetch(adress + '/rest/api/studentcourse/check/' + student_current + '/' + course_current);

                const data = await response.json();

                console.log(data);

                if(data == 'connected') {
                    document.getElementById("connect").value = "Disconnect";
                } else {
                    document.getElementById("connect").value = "Connect";
                }
        }

    }

    async function connectOnOff() {

        var adress = "";

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        var student_current = document.getElementById('student').value;
        var course_current = document.getElementById('course').value;

        const settings = {
            method: 'POST',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            }
        };

        if (student_current != "" && course_current != "") {
                const response = await fetch(adress + '/rest/api/studentcourse/link/' + student_current + '/' + course_current, settings);
        }

    }

    async function getAllCourseNameReg() {

        var adress = "";

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        const response = await fetch(adress + '/rest/api/courses');

        const data = await response.json();

        var temp = "";

        // make the list option

        for(i = 0; i < data.length; i++)  
        {
                temp += "<option value='" + data[i].ID + "' >" + data[i].Name + " " + data[i].Reg + "</option>";
        }

        if(temp == "") {
            document.getElementById("course").outerHTML="<strong>There are no courses in the database!</strong>";
            document.getElementById("connect").outerHTML="";
        } else {
            document.getElementById("course").innerHTML=temp;
        }

    }

    async function getAllStudentNameReg() {

        var adress = "";

        $.getJSON('configHtmlServer.json', function(data) {         
            adress = data["adress"];
        });

        const response = await fetch(adress + '/rest/api/students');

        const data = await response.json();

        var temp = "";

        // make the list option

        for(i = 0; i < data.length; i++)  
        {
                temp += "<option value='" + data[i].ID + "' >" + data[i].Name + " " + data[i].Reg + "</option>";
        }

        if(temp == "") {
            document.getElementById("student").outerHTML="<strong>There are no students in the database!</strong>";
            document.getElementById("connect").outerHTML="";
        } else {
            document.getElementById("student").innerHTML=temp;
        }

    }

  </script>
{{end}}