{{define "title"}}Show All Courses Of A Teacher{{end}}

{{define "content"}}
<h3>Show All Courses Of A Teacher</h3>
<br>
<a href="/" class="btn btn-default">Menu</a>
<br>
<br>

<form name="myteacherformular" id="myteacherformular">
    <label for="id">Teacher Registration:</label><br>
    <input type="text" id="teacherreg" name="teacherreg" value=""><br><br>
    <input type="submit" onclick="getData();return false" value="Show Teacher Details" class="btn btn-default">
    <input type="reset" value="Reset" class="btn btn-default">
</form>

<br>
<br>

<table class="table table-bordered">
    <tbody id="data"></tbody>
</table>

<br>
<br>

<textarea id="result" class="col-md-12"></textarea>

<script>
  
    async function getData(){
  
        var adress = "";
  
        $.getJSON('configHtmlServer.json', function(data) {         
          adress = data["adress"];
        });

        var teacherreg = document.getElementById('teacherreg').value;

         const response = await fetch(adress + '/rest/api/course/showallteacherreg/' + teacherreg);
         // console.log(response);
         const data = await response.json();
         // console.log(data);
         length = data.length;
         // console.log(length);
         
         console.log(data);
         var temp="<tr><th>ID</th><th>Course Name</th><th>Course Description</th><th>Course Registration Teacher ID</th><th>Course Registration ID</th></tr>";
         for(i = 0; i < length; i++)
         {
            temp+="<tr>";
            temp+="<td>" + data[i].ID + "</td>";
            temp+="<td>" + data[i].Name + "</td>";
            temp+="<td>" + data[i].Description + "</td>";
            temp+="<td>" + data[i].TeacherReg + "</td>";
            temp+="<td>" + data[i].Reg + "</td>";
            temp+="</tr>";
         }
  
         document.getElementById("data").innerHTML=temp;
   }

  </script>
{{end}}