{{define "title"}}Student Management{{end}}

{{define "content"}}
<h3>Student Management</h3>
<br>
<ul class="list-group col-md-4">
    <li class="list-group-item"><a href="/showall.html">Show All Students</a></li>
    <li class="list-group-item"><a href="/showstudent.html">Show Student Details by Name</a></li>
    <li class="list-group-item"><a href="/showstudentid.html">Show Student Details by ID</a></li>
    <li class="list-group-item"><a href="/showstudentreg.html">Show Student Details by Registration</a></li>
    <li class="list-group-item"><a href="/create.html">Create Student</a></li>
    <li class="list-group-item"><a href="/edit.html">Edit Student by ID</a></li>
    <li class="list-group-item"><a href="/deleteid.html">Delete Student by ID</a></li>
    <li class="list-group-item"><a href="/deleteall.html">Delete All Students</a></li>
</ul>
{{end}}