{{define "title"}}University Management{{end}}

{{define "content"}}
<h3>University Management</h3>
<br>
<div class="col-md-4">
<h4>Students Management</h4>
<ul class="list-group">
    <li class="list-group-item"><a href="/show_all_student.html">Show All Students</a></li>
    <li class="list-group-item"><a href="/show_name_student.html">Show Student Details by Name</a></li>
    <li class="list-group-item"><a href="/show_id_student.html">Show Student Details by ID</a></li>
    <li class="list-group-item"><a href="/show_reg_student.html">Show Student Details by Registration</a></li>
    <li class="list-group-item"><a href="/create_student.html">Create Student</a></li>
    <li class="list-group-item"><a href="/edit_id_student.html">Edit Student by ID</a></li>
    <li class="list-group-item"><a href="/delete_id_student.html">Delete Student by ID</a></li>
    <li class="list-group-item"><a href="/delete_all_student.html">Delete All Students</a></li>
</ul>
</div>
<div class="col-md-4">
<h4>Teachers Management</h4>
<ul class="list-group">
    <li class="list-group-item"><a href="/show_all_teacher.html">Show All Teachers</a></li>
    <li class="list-group-item"><a href="/show_name_teacher.html">Show Teacher Details by Name</a></li>
    <li class="list-group-item"><a href="/show_id_teacher.html">Show Teacher Details by ID</a></li>
    <li class="list-group-item"><a href="/show_reg_teacher.html">Show Teacher Details by Registration</a></li>
    <li class="list-group-item"><a href="/create_teacher.html">Create Teacher</a></li>
    <li class="list-group-item"><a href="/edit_id_teacher.html">Edit Teacher by ID</a></li>
    <li class="list-group-item"><a href="/delete_id_teacher.html">Delete Teacher by ID</a></li>
    <li class="list-group-item"><a href="/delete_all_teacher.html">Delete All Teachers</a></li>
</ul>
</div>
<div class="col-md-4">
<h4>Courses Management</h4>
<ul class="list-group">
    <li class="list-group-item"><a href="/show_all_course.html">Show All Courses</a></li>
    <li class="list-group-item"><a href="">Show Course Details by Name</a></li>
    <li class="list-group-item"><a href="">Show Course Details by ID</a></li>
    <li class="list-group-item"><a href="">Show Course Details by Registration</a></li>
    <li class="list-group-item"><a href="/create_course.html">Create Course</a></li>
    <li class="list-group-item"><a href="">Edit Course by ID</a></li>
    <li class="list-group-item"><a href="">Delete Course by ID</a></li>
    <li class="list-group-item"><a href="/delete_all_course.html">Delete All Courses</a></li>
</ul>
</div>
{{end}}